.bannerbg{
    background-color: var(--background);
}
.textcolor{
    color: var(--text_color);
}
.backgrounddark{
    background-color: var(--text_color);
}
.nav-item{
 
    font-weight: 500 !important;
}
.mydropdown{
    background-color: var(--background) !important;
}
.mydropdown .dropdown-item{
    background-color: var(--background) !important;

}
.mydropdown .dropdown-item:hover{
    background-color: #dceded!important;
    color: var(--text_color) !important;
}
.userlog:hover{

 color: var(--text_color);
}
.tooltip-inner {
    background-color: #f2f5f5!important;
    
   color: var(--text_color) !important;  
    font-size : 12px !important; 
    padding: 8px 12px !important;
}
.pricesp{
    font-size : 15px !important; 

}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    background-color: #FFFF !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
    background-color: #FFFF;
}
.bannerindedx{
    background-color: var(--background);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 0;
    height: 0;
   
}
.fruite .tab-class .nav-item a.active {
    background-color:var(--text_color) !important ;
    color: #FFFF !important;
}
.soluongcuasanpham{
    font-size: 13px !important;
    color: black !important;
    opacity: 0.5 !important;
}
.sukiennut:hover{
    background-color: #dceded!important;
    color: var(--text_color) !important;
}
.product-titler {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
text-overflow: ellipsis !important;
    line-height: 1em !important; /* Chiều cao dòng */
    height: 2.1em !important; /* 2 dòng * line-height */
    margin-bottom: 0px !important;
  }
  .containersp{
    padding: 5px 0 !important;
    width: 240px !important;
    border: 2px solid #ccc;
     box-sizing: border-box;
  }
  .owl-item.active {
    margin: 0 !important;
    padding: 0 !important;
    width: 250px !important;
}
.owl-item.cloned {
    margin:0 !important;
    width: 250px !important;
  
}
.btnhover:hover{
    background-color: #FFFF!important;
    color:  var(--text_color)!important;
    
}
.textcolora h4{
    color:  var(--text_color)!important;
}
.footer-item, .footer-item a{
    color: #FFFF !important
}